.slider__divider {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 50%;
    width: 3px;
    height: 100%;
    transform: translateX(-50%);
    background-color: black;

    .slider__handle {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 50%;
        flex: 0 0 auto;
        width: 40px;
        height: 40px;
        background-color: rgba(255,255,255,0.75);
        cursor: pointer;
    }
}
